<form class="{{cssClass}} ability-sheet" autocomplete="off">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Ability</span>
    </div>
    <div class="ability-row">
        <label for="name">Name:</label>
        <input class="ability-input" name="name" type="text" value="{{system.name}}" />
    </div>
    <div class="ability-row">
        <label for="">Stat:</label>
        {{#if system.owned}}
        <select name="system.relStat">
            {{selectOptions system.allowStats selected=system.relStat localize=true}}
        </select>

        {{else}}
        <select name="system.relStat" value="{{system.relStat}}">
            {{selectOptions system.dropDowns.stats selected=system.relStat localize=true}}
        </select>
        {{/if}}
    </div>
    <div class="ability-row">
        <label for="">Activation:</label>
        <select name="system.activate" value="{{system.activate}}">
            {{selectOptions system.dropDowns.primaryAction selected=system.activate localize=true}}
        </select>
    </div>
    <div class="ability-row">
        <label for="system.value">Cost:</label>
        <input class="ability-input" name="system.value" type="text" value="{{system.value}}" />
    </div>
    <div class="ability-row">
        <label for="system.diceCheck">Dice Check:</label>
        <input class="ability-input" name="system.diceCheck" type="text" value="{{system.diceCheck}}" />
    </div>
    <div class="ability-row">
        <label for="system.shortDesc">Short Description:</label>
        <input class="ability-input" name="system.shortDesc" type="text" value="{{system.shortDesc}}" />
    </div>
    <div class="ability-col">
        <label for="system.description" class="ability-description">Description</label>
        <!--editor-->
        {{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=true}}
    </div>
</form>