<form class="{{cssClass}} ability-sheet" autocomplete="off">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Ability</span>
    </div>
    <div class="ability-row">
        <label for="name">Name:</label>
        <input class="ability-input" name="name" type="text" value="{{name}}" />
    </div>
    <div class="ability-row">
        <label for="">Stat:</label>
        {{#if data.owned}}
        <select name="data.relStat">
            {{selectOptions data.allowStats selected=data.relStat localize=true}}
        </select>

        {{else}}
        <select name="data.relStat" value="{{data.relStat}}">
            {{#select data.relStat}}
            <option value="agility">Agility</option>
            <option value="charisma">Charisma</option>
            <option value="endurance">Endurance</option>
            <option value="intelligence">Intelligence</option>
            <option value="perception">Perception</option>
            <option value="spirit">Spirit</option>
            <option value="strength">Strength</option>
            <option value="will">Will</option>
            <option value="wisdom">Wisdom</option>
            {{/select}}
        </select>
        {{/if}}
    </div>
    <div class="ability-row">
        <label for="">Activation:</label>
        <select name="data.activate" value="{{data.activate}}">
            {{#select data.activate}}
            <option value="primary">{{localize "ACTIVATION.Primary"}}</option>
            <option value="reaction">{{localize "ACTIVATION.Reaction"}}</option>
            <option value="secondary">{{localize "ACTIVATION.Secondary"}}</option>
            <option value="prisec">{{localize "ACTIVATION.PriSec"}}</option>
            <option value="narrative">{{localize "ACTIVATION.Narrative"}}</option>
            {{/select}}
        </select>
    </div>
    <div class="ability-row">
        <label for="data.value">Cost:</label>
        <input class="ability-input" name="data.value" type="text" value="{{data.value}}" />
    </div>
    <div class="ability-row">
        <label for="data.diceCheck">Dice Check:</label>
        <input class="ability-input" name="data.diceCheck" type="text" value="{{data.diceCheck}}" />
    </div>
    <div class="ability-row">
        <label for="data.shortDesc">Short Description:</label>
        <input class="ability-input" name="data.shortDesc" type="text" value="{{data.shortDesc}}" />
    </div>
    <div class="ability-col">
        <label for="data.description" class="ability-description">Description</label>
        <!--editor-->
        {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
    </div>
</form>