<form class="{{cssClass}}" autocomplete="off">
    <div class="c-sheet">
        <div class="logo-row">
            <img src="systems/coyote-and-crow/ui/page-header.png">
        </div>

        <div class="header-section">
            <!-- This column contains the image, Legendary Ranks, Initiative Score And States & Effects -->
            <div class="c-left-header-col">
                <div class="c-image">
                    <img class="image-frame" src="systems/coyote-and-crow/ui/CNC_galley_pictureframe1.png" />
                    <img class="c-image-small" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"
                        name="actor.img" />
                </div>
                <div class="c-status-col">
                    <div class="legendary-row">
                        <label for="data.info.legendary.ranks">Legendary Ranks:</label>
                        <input class="number-input" name="data.info.legendary.ranks" type="number"
                            value="{{info.legendary.ranks}}" />
                    </div>
                    <div class="legendary-row">
                        <label for="data.attributes.init.score">Initiative Score:</label>
                        <span class="faux-input init-span">{{{attributes.init.score}}} ({{{attributes.init.modified}}})</span>
                    </div>
                </div>
            </div>

            <div class="c-info-col">
                <div class="info-row">
                    <div class="c-info-name">
                        <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
                    </div>
                    <div class="c-info-age">
                        <input name="data.info.age.value" type="text" value="{{info.age.value}}" placeholder="Age" />
                    </div>
                </div>
                <div class="info-row">
                    <div class="c-info-archetype">
                        <input name="data.info.archetype.value" type="text" value="{{info.archetype.value}}"
                            placeholder="{{localize 'PLAYER.archetype'}}" />
                    </div>
                    <div class="c-info-path">
                        <!--<input name="data.info.path.value" type="text" value="{{info.path.value}}"
                            placeholder="Path Of The..." />-->
                        <select name="data.info.path.value" value="info.path.value">
                            {{#select info.path.value}}
                            <option value="">Select your Path</option>
                            <option value="badger">Path of the Badger</option>
                            <option value="bear">Path of the Bear</option>
                            <option value="beaver">Path of the Beaver</option>
                            <option value="bison">Path of the Bison</option>
                            <option value="coyote">Path of the Coyote</option>
                            <option value="crow">Path of the Crow</option>
                            <option value="deer">Path of the Deer</option>
                            <option value="eagle">Path of the Eagle</option>
                            <option value="falcon">Path of the Falcon</option>
                            <option value="fox">Path of the Fox</option>
                            <option value="owl">Path of the Owl</option>
                            <option value="raccoon">Path of the Raccoon</option>
                            <option value="salmon">Path of the Salmon</option>
                            <option value="snake">Path of the Snake</option>
                            <option value="spider">Path of the Spider</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="c-info-motivation">
                        <input name="data.info.motivation.value" type="text" value="{{info.motivation.value}}"
                            placeholder="Motivation" />
                    </div>
                </div>
                <div class="c-separator">
                    <img src="systems/coyote-and-crow/ui/CNC_galley_divider.png">
                </div>
                <div class="c-stats-section">
                    {{> systems/coyote-and-crow/templates/sheet/partial/player-stats.html}}
                </div>
            </div>




        </div>

        <!--Tab Section -->

        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="summary">{{localize "TAB.summary"}}</a>
            <a class="item" data-tab="skills">{{localize "TAB.skills"}}</a>
            <a class="item" data-tab="abilities">{{localize "TAB.abilities"}}</a>
            <a class="item" data-tab="belongings">{{localize "TAB.belongings"}}</a>
            <a class="item" data-tab="bio">{{localize "TAB.Notes"}}</a>
        </nav>

        <div class="content-section">
            <div class="tab summary" data-group="primary" data-tab="summary">
                {{> systems/coyote-and-crow/templates/sheet/partial/player-summary.html}}
            </div>

            <div class="tab skills" data-group="primary" data-tab="skills">
                {{> systems/coyote-and-crow/templates/sheet/partial/player-skills.html}}
            </div>

            <div class="tab abilities" data-group="primary" data-tab="abilities">
                {{> systems/coyote-and-crow/templates/sheet/partial/player-abilities.html}}
            </div>

            <div class="tab belongings" data-group="primary" data-tab="belongings">
                {{> systems/coyote-and-crow/templates/sheet/partial/player-belongings.html}}
            </div>

            <div class="tab bio" data-group="primary" data-tab="bio">
                {{> systems/coyote-and-crow/templates/sheet/partial/player-bio.html}}
            </div>
        </div>

    </div>
</form>