<form class="{{cssClass}} item-sheet" autocomplete="off">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Gifts / Burdens</span>
    </div>

    <div class="item-col-main">
        <div class="item-col-base">
            <div class="item-row">
                <span>Name</span>
                <input class="gift-category" name="name" type="text" value="{{system.name}}" />
            </div>

            <div class="item-row row-50">
                <div class="weapon-select">
                    <label class="item-label" for="system.type">{{localize "ITEM.GiftBurden"}}:</label>
                    <select name="system.type" value="{{system.type}}">
                        {{selectOptions system.dropDowns.giftBurden selected=system.type localize=true}}
                    </select>
                </div>
            </div>

            <div class="item-row">
                <span>Category</span>
                <input class="gift-category" name="system.category" type="text" value="{{system.category}}" />
            </div>

            <div class="item-row">
                <span>Level</span>
                <input class="item-num-input" name="system.level" type="text" value="{{system.level}}" />
            </div>
        </div>

        <div class="item-col-img">
            <img class="item-image" src="{{item.img}}" data-edit="img" name="name" />
        </div>
    </div>

    <!-- NOTES -->

    <div class="item-row">
        <span class="item-label">{{localize "ITEM.Notes"}}:</span>
        {{editor system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=true}}
    </div>

    <!-- MODIFIERS -->

    <nav class="item-tabs tabs" data-group="items">
        <a class="item" data-tab="initiative">Initiative</a>
        <a class="item" data-tab="pdefense">{{localize "TAB.PDefense"}}</a>
        <a class="item" data-tab="stats">{{localize "TAB.Stats"}}</a>
        <a class="item" data-tab="success">{{localize "TAB.Success"}}</a>
    </nav>

    <div class="item-modifier">
        <div class="tab initiative" data-group="items" data-tab="initiative">
            <div class="item-section">
                <div class="sheet-title-h2" style="margin-top: 10px;">
                    <span>Initiative</span>
                </div>
                <div class="gb-mod">
                    <label name="system.modifier.init.value" title='{{localize "ITEM.DicePool"}}'>+ / - </label>
                    <input type="number" name="system.modifier.init.value" value="{{system.modifier.init.value}}" />
                </div>
            </div>
        </div>

        <div class="tab pdefense" data-group="items" data-tab="pdefense">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/pdefense.html}}
        </div>

        <div class="tab stats" data-group="items" data-tab="stats">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/stat-mod.html}}
        </div>

        <div class="tab success" data-group="items" data-tab="success">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/success.html}}
        </div>
    </div>

</form>