<form class="{{cssClass}} item-sheet" autocomplete="off">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Item</span>
    </div>
    <div class="item-col-main">
        <div class="item-col-base">
            <div class="item-row">
                <label class="item-label" for="name">{{localize "ITEM.Name"}}:</label>
                {{log item}}
                <input class="ability-input" name="name" type="text" value="{{system.name}}" />
            </div>
            <div class="item-row">
                <label class="item-label" for="system.costRank">{{localize "ITEM.CostRank"}}:</label>
                <input class="item-num-input" name="system.costRank" type="text" value="{{system.costRank}}" />
            </div>
            <div class="item-row">
                <label class="item-label" for="system.traits">{{localize "ITEM.Traits"}}:</label>
                <input class="ability-input" name="system.traits" type="text" value="{{system.traits}}" />
            </div>
        </div>

        <div class="item-col-img">
            <img class="item-image" src="{{item.img}}" data-edit="img" name="name" />
        </div>
    </div>

    <!-- NOTES -->

    <div class="item-row">
        <span class="item-label">{{localize "ITEM.Notes"}}:</span>
        {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true editable=true}}
    </div>

    <!-- MODIFIERS -->

    <nav class="item-tabs tabs" data-group="items">
        <a class="item" data-tab="pdefense">{{localize "TAB.PDefense"}}</a>
        <a class="item" data-tab="stats">{{localize "TAB.Stats"}}</a>
        <a class="item" data-tab="success">{{localize "TAB.Success"}}</a>
    </nav>

    <div class="item-modifier">
        <div class="tab pdefense" data-group="items" data-tab="pdefense">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/pdefense.html}}
        </div>

        <div class="tab stats" data-group="items" data-tab="stats">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/stat-mod.html}}
        </div>

        <div class="tab success" data-group="items" data-tab="success">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/success.html}}
        </div>
    </div>
</form>