<form class="{{cssClass}} spec-sheet" autocomplete="off">
    <div class="stat-block-title" style="margin-top: 10px;">
        <span>Specialized Skills</span>
    </div>
    <div class="spec-sheet-tables">
        <div class="spec-sheet-table-col">
            <div class="spec-table-header">
                <div class="spec-table-col">
                    <span>Specialization</span>
                </div>
                <div class="spec-table-col">
                    <span>General Skill</span>
                </div>
                <!--<div class="spec-table-col">
                    <span>Stat</span>
                </div>-->
                <div class="spec-table-col spec-values">
                    <span>Rank</span>
                </div>
            </div> 
            
            <div class="spec-table-row">
                <div class="spec-table-col">
                    <input type="text" name="name" value="{{item.name}}" />
                </div>
                <div class="spec-table-col">
                    <select name="system.skill" value="{{system.skill}}">
                        {{selectOptions dropDowns.dropdownSkills selected=system.skill localize=true}}
                    </select>
                </div>
                <div class="spec-table-col spec-values">
                    <input class="spec-table-rank" type="number" name="system.specRank" value="{{system.specRank}}" />
                </div>
            </div>
        </div>
    </div>

    <!-- MODIFIERS -->

    <nav class="item-tabs tabs" data-group="items">
        <a class="item" data-tab="success">{{localize "TAB.Success"}}</a>
    </nav>

    <div class="item-modifier">
        <div class="tab success" data-group="items" data-tab="success">
            <div class="sheet-title-h2" style="margin-top: 10px;">
                <span>Skill Success Number</span>
            </div>
            <div class="pd-mod">
                <label name="system.modifier.sn.value">+ / - SN </label>
                <select name="system.modifier.sn.value" value="{{system.modifier.sn.value}}">
                    {{selectOptions dropDowns.modifierSN selected=system.modifier.sn.value localize=false}}
                </select>
            </div>
        </div>
    </div>

</form>