<form class="{{cssClass}} spec-sheet" autocomplete="off">
    <div class="stat-block-title" style="margin-top: 10px;">
        <span>Specialized Skills</span>
    </div>
    <div class="spec-sheet-tables">
        <div class="spec-sheet-table-col">
            <div class="spec-table-header">
                <div class="spec-table-col">
                    <span>Specialization</span>
                </div>
                <div class="spec-table-col">
                    <span>General Skill</span>
                </div>
                <div class="spec-table-col">
                    <span>Stat</span>
                </div>
                <div class="spec-table-col spec-values">
                    <span>Rank</span>
                </div>
            </div>
            <div class="spec-table-row">
                <div class="spec-table-col">
                    <input type="text" name="name" value="{{name}}" />
                </div>
                <div class="spec-table-col">
                    <select name="data.skill" value="{{data.skill}}">
                        {{#select data.skill}}
                        <option value="Art">Art</option>
                        <option value="Athletics">Athletics</option>
                        <option value="Ceremony">Ceremony</option>
                        <option value="Charm">Charm</option>
                        <option value="Coercion">Coercion</option>
                        <option value="Computers">Computers</option>
                        <option value="Cooking">Cooking</option>
                        <option value="Crafting">Crafting</option>
                        <option value="Cybernetics">Cybernetics</option>
                        <option value="Deception">Deception</option>
                        <option value="Farming">Farming</option>
                        <option value="Herbalism">Herbalism</option>
                        <option value="Husbandry">Husbandry</option>
                        <option value="Investigation">Investigation</option>
                        <option value="Knowledge">Knowledge</option>
                        <option value="Language">Language</option>
                        <option value="Medicine">Medicine</option>
                        <option value="Melee Weapons">Melee Weapons</option>
                        <option value="Music">Music</option>
                        <option value="Performance">Performance</option>
                        <option value="Piloting">Piloting</option>
                        <option value="Ranged Weapons">Ranged Weapons</option>
                        <option value="Science">Science</option>
                        <option value="Skulduggery">Skulduggery</option>
                        <option value="Stealth">Stealth</option>
                        <option value="Survival">Survival</option>
                        <option value="Tracking">Tracking</option>
                        <option value="Unarmed Combat">Unarmed Combat</option>
                        {{/select}}
                    </select>
                </div>
                <div class="spec-table-col">
                    {{#if data.owned}}
                    <select name="data.stat">
                        {{selectOptions actorData.data.info.path.stats selected=data.stat}}
                    </select>
                    {{else}}
                    <select name="data.stat" value="{{data.stat}}">
                        {{#select data.stat}}
                        <option value="strength" stat-name="strength">Strength</option>
                        <option value="agility" stat-name="agility">Agility</option>
                        <option value="endurance" stat-name="endurance">Endurance</option>
                        <option value="intelligence" stat-name="intelligence">Intelligence</option>
                        <option value="perception" stat-name="perception">Perception</option>
                        <option value="wisdom" stat-name="wisdom">Wisdom</option>
                        <option value="spirit" stat-name="spirit">Spirit</option>
                        <option value="charisma" stat-name="charisma">Charisma</option>
                        <option value="will" stat-name="will">Will</option>
                        {{/select}}
                    </select>{{/if}}
                </div>
                <div class="spec-table-col spec-values">
                    <input class="spec-table-rank" type="number" name="data.specRank" value="{{data.specRank}}" />
                </div>
            </div>
        </div>
    </div>


</form>