<form class="{{cssClass}} item-sheet" autocomplete="off">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Weapon</span>
    </div>
    <div class="item-col-main">
        <div class="item-col-base">
            <div class="item-row">
                <label class="item-label" for="name">{{localize "ITEM.Weapon"}}:</label>
                <input class="ability-input" name="name" type="text" value="{{name}}" />
            </div>
            <div class="item-row row-50">
                <div class="weapon-select">
                    <label class="item-label" for="data.type">{{localize "ITEM.WeaponType"}}:</label>
                    <select name="data.weaponTypes" value="{{data.weaponTypes}}">
                        {{#select data.weaponTypes}}
                        <option value="">Select</option>
                        <option value="melee">Melee</option>
                        <option value="ranged">Ranged</option>
                        <option value="unarmed">Unarmed</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="item-row row-40" style="flex-direction: row; justify-content: space-between;">
                <div class="item-col">
                    <label class="item-label" for="data.costRank">{{localize "ITEM.CostRank"}}:</label>
                    <input class="item-num-input" name="data.costRank" type="text" value="{{data.costRank}}" />
                </div>
                <div class="item-col">
                    <label class="item-label">{{localize "ITEM.Range"}}:</label>
                    <div class="range-row">
                        <span>S</span>
                        <input class="item-num-input" name="data.range.short" type="text" value="{{data.range.short}}" />
                        <span>M</span>
                        <input class="item-num-input" name="data.range.medium" type="text" value="{{data.range.medium}}" />
                        <span>L</span>
                        <input class="item-num-input" name="data.range.long" type="text" value="{{data.range.long}}" />
                    </div>
                </div>
            </div>
            <div class="item-row">
                <label class="item-label" for="data.traits">{{localize "ITEM.Traits"}}:</label>
                <input class="ability-input" name="data.traits" type="text" value="{{data.traits}}" />
            </div>

        </div>

        <div class="item-col-img">
            <img class="item-image" src="{{img}}" data-edit="img" name="name" />
        </div>
    </div>

    <!-- NOTES -->

    <div class="item-row">
        <span class="item-label">{{localize "ITEM.Notes"}}:</span>
        {{editor content=data.notes target="data.notes" button=true owner=owner editable=true}}
    </div>

    <!-- MODIFIERS -->

    <nav class="item-tabs tabs" data-group="items">
        <a class="item" data-tab="dice-pool">{{localize "TAB.DicePool"}}</a>
        <a class="item" data-tab="pdefense">{{localize "TAB.PDefense"}}</a>
        <a class="item" data-tab="stats">{{localize "TAB.Stats"}}</a>
        <a class="item" data-tab="success">{{localize "TAB.Success"}}</a>
    </nav>

    <div class="item-modifier">
        <div class="tab dice-pool" data-group="items" data-tab="dice-pool">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/dice-pool.html}}
        </div>

        <div class="tab pdefense" data-group="items" data-tab="pdefense">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/pdefense.html}}
        </div>

        <div class="tab stats" data-group="items" data-tab="stats">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/stat-mod.html}}
        </div>

        <div class="tab success" data-group="items" data-tab="success">
            {{> systems/coyote-and-crow/templates/sheet/partial/fragment/success.html}}
        </div>
    </div>

</form>