<div class="item-section">
    <div class="item-row" style="justify-content: space-around;">
        <div class="item-section ">
            <div class="sheet-title-h2" style="margin: 10px 0 0 0;">
                <span>Physical Defense</span>
            </div>
            <div class="sn-mod">
                <label name="" title='{{localize "DSTAT.PD"}}'>+ / - PD </label>
                <input type="number" name="system.modifier.pd.value" value="{{system.modifier.pd.value}}" />
            </div>
        </div>
        {{#ifCond system.type "===" "weapon"}}
        <div class="item-section">
            <div class="sheet-title-h2" style="margin-top: 10px;">
                <span>Dice Pool</span>
            </div>
            <div class="dp-mod">
                <label name="system.modifier.dp.value" title='{{localize "ITEM.DicePool"}}'>+ / - Dice </label>
                <input type="number" name="system.modifier.dp.value" value="{{system.modifier.dp.value}}" />
            </div>
        </div>

        <div class="item-section">
            <div class="sheet-title-h2" style="margin-top: 10px;">
                <span>Weapon Type</span>
            </div>
            <div class="weapon-select">
                <label class="item-label" for="system.type">{{localize "ITEM.Type"}}:</label>
                <select name="system.weaponTypes" value="{{system.weaponTypes}}">
                    {{#select system.weaponTypes}}
                    <option value="">Select</option>
                    <option value="melee">Melee</option>
                    <option value="ranged">Ranged</option>
                    <option value="unarmed">Unarmed</option>
                    {{/select}}
                </select>
            </div>
        </div>
        {{/ifCond}}

    </div>
    <div class="sheet-title-h2" style="margin-top: 10px;">
        <span>Stat Modification</span>
    </div>
    <div class="item-mods">
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.agility.statName}}">AGI</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.agility.value"
                value="{{system.modifier.stat.agility.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.charisma.statName}}">CHA</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.charisma.value"
                value="{{system.modifier.stat.charisma.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.endurance.statName}}">END</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.endurance.value"
                value="{{system.modifier.stat.endurance.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.intelligence.statName}}">INT</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.intelligence.value"
                value="{{system.modifier.stat.intelligence.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.perception.statName}}">PER</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.perception.value"
                value="{{system.modifier.stat.perception.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.spirit.statName}}">SPI</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.spirit.value"
                value="{{system.modifier.stat.spirit.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.strength.statName}}">STR</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.strength.value"
                value="{{system.modifier.stat.strength.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.wisdom.statName}}">WIS</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.wisdom.value"
                value="{{system.modifier.stat.wisdom.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize system.modifier.stat.will.statName}}">WLL</div>
            <input class="item-stat-mod-value" type="number" name="system.modifier.stat.will.value"
                value="{{system.modifier.stat.will.value}}" />
        </div>
    </div>
</div>

<div class="item-sections">
    <div class="item-section">
        <div class="sheet-title-h2" style="margin-top: 10px;">
            <span>Success Number</span>
        </div>
        <div class="pd-mod">
            <label name="system.modifier.sn.value">+ / - SN </label>
            <select name="system.modifier.sn.value" value="{{system.modifier.sn.value}}">
                {{selectOptions dropDowns.modifierSN selected=modifier.sn.value localize=false}}
            </select>
            <select class="pd-stat" name="system.modifier.sn.skill" value="{{system.modifier.sn.skill}}">
                {{selectOptions dropDowns.dropdownSkills selected=modifier.sn.skill localize=true}}
            </select>
        </div>
        <div class="pd-mod">
            <label name="system.modifier.sn1.value">+ / - SN </label>
            <select name="system.modifier.sn1.value" value="{{system.modifier.sn1.value}}">
                {{selectOptions dropDowns.modifierSN selected=modifier.sn1.value localize=false}}
            </select>
            <select class="pd-stat" name="system.modifier.sn1.skill" value="{{system.modifier.sn1.skill}}">
                {{selectOptions dropDowns.dropdownSkills selected=modifier.sn1.skill localize=true}}
            </select>
        </div>
        <div class="pd-mod">
            <label name="system.modifier.sn2.value">+ / - SN </label>
            <select name="system.modifier.sn2.value" value="{{system.modifier.sn2.value}}">
                {{selectOptions dropDowns.modifierSN  selected=modifier.sn2.value}}
            </select>
            <select class="pd-stat" name="system.modifier.sn2.skill" value="{{system.modifier.sn2.skill}}">
                {{selectOptions dropDowns.dropdownSkills selected=modifier.sn2.skill localize=true}}
            </select>
        </div>
    </div>
</div>