<div class="bio-page">
    <div class="stat-block-title" style="margin-top: 10px;">
        <span>Biography & Notes</span>
    </div>
    <div class="bio-col">
        <span class="item-label">{{localize "PLAYER.OtherIdent"}}:</span>
        <input class="" name="system.bio.identifiers" type="text" value="{{system.bio.identifiers}}" />
    </div>
    <div class="bio-col">
        <span class="item-label">{{localize "PLAYER.ShortGoal"}}:</span>
        <div class="bio-row justify-between">
            <input class="short-goal-input" name="system.bio.shortGoal1" type="text" value="{{system.bio.shortGoal1}}" />
            <input class="short-goal-input" name="system.bio.shortGoal2" type="text" value="{{system.bio.shortGoal2}}" />
        </div>
    </div>
    <div class="bio-col">
        <span class="item-label">{{localize "PLAYER.LongGoal"}}:</span>
        <input class="" name="system.bio.longGoal" type="text" value="{{system.bio.longGoal}}" />
    </div>
    <div class="bio-col">
        <span class="item-label">{{localize "PLAYER.Notes"}}:</span>
        {{editor enrichment.system.bio.notes target="system.bio.notes" engine="prosemirror"  button=true owner=owner editable=true}}
    </div>
</div> 