<div class="skill-page">
    <div class="stat-block-title">
        <span>Skills</span>
    </div>
    <div class="skill-tables">
        <div class="skill-table-col-1">
            <div class="skill-table-header">
                <div class="skill-table-col">
                    <span>General Skills</span>
                </div>
                <div class="skill-table-col">
                    <span>Stat</span>
                </div>
                <div class="skill-table-col col-rank">
                    <span>Rank</span>
                </div>
                <div class="skill-table-col col-total">
                    <span>Total</span>
                </div>
            </div>
            {{#each skills as |skill key|}}
            {{#ifCond skill.colMod "===" 1}}
            <div class="skill-table-row">
                <div class="skill-table-col">
                    <span>{{name}}</span>
                </div>
                <div class="skill-table-col">
                    <select name="data.skills.{{key}}.stat">
                        {{selectOptions relStats selected=skill.stat}}
                    </select>
                </div>
                <div class="skill-table-col col-rank">
                    <input class="skill-table-rank" type="number" name="data.skills.{{key}}.skillRank"
                        value="{{skill.skillRank}}" />
                </div>
                <div class="skill-table-col col-total">
                    <span class="skill-table-rank">{{skill.skillTotal}}</span>
                </div>
            </div>
            {{/ifCond}}
            {{/each}}

        </div>
        <div class="skill-table-col-2">
            <div class="skill-table-header">
                <div class="skill-table-col">
                    <span>General Skills</span>
                </div>
                <div class="skill-table-col">
                    <span>Stat</span>
                </div>
                <div class="skill-table-col col-rank">
                    <span>Rank</span>
                </div>
                <div class="skill-table-col col-total">
                    <span>Total</span>
                </div>
            </div>
            {{#each skills as |skill key|}}
            {{#ifCond skill.colMod "===" 0}}
            <div class="skill-table-row">
                <div class="skill-table-col">
                    <span>{{name}}</span>
                </div>
                <div class="skill-table-col">
                    <select name="data.skills.{{key}}.stat">
                        {{selectOptions relStats selected=skill.stat}}
                    </select>
                </div>
                <div class="skill-table-col col-rank">
                    <input class="skill-table-rank" type="number" name="data.skills.{{key}}.skillRank"
                        value="{{skill.skillRank}}" />
                </div>
                <div class="skill-table-col col-total">
                    <span class="skill-table-rank">{{skill.skillTotal}}</span>
                </div>
            </div>
            {{/ifCond}}
            {{/each}}

        </div>
    </div>

    <div class="stat-block-title" style="margin-top: 10px;">
        <span>Specialized Skills</span>
    </div>
    <div class="skill-tables">
        <div class="skill-table-col">
            <div class="spec-table-header">
                <div class="spec-col-20 spec-table-col">
                    <span>Specialization</span>
                </div>
                <div class="spec-table-col spec-values">
                    <span>Rank</span>
                </div>
                <div class="spec-col-20 spec-table-col">
                    <span>General Skill</span>
                </div>
                <div class="spec-table-col spec-values">
                    <span>Rank</span>
                </div>
                <div class="spec-col-20 spec-table-col">
                    <span>Stat</span>
                </div>
                <div class="spec-table-col spec-values">
                    <span>Rank</span>
                </div>
                <div class="spec-table-col spec-values">
                    <span>Total</span>
                </div>
                <div class="spec-table-col spec-controls">
                    <span></span>
                </div>
            </div>

            <ul class="items spec-list">
                {{#each specialization as |spec key|}}
                <li class="item spec-items" data-item-id="{{spec._id}}">
                    <div class="spec-table-row">
                        <div class="spec-table-col spec-col-20">
                            <input type="text" value="{{spec.name}}" readonly="readonly" />
                            <!--Specialization Name-->
                        </div>
                        <div class="spec-table-col spec-values">
                            <input type="number" value="{{spec.data.specRank}}" readonly="readonly" />
                            <!--Specialization Rank-->
                        </div>
                        <div class="spec-table-col spec-col-20">
                            <input type="text" value="{{spec.data.skill}}" readonly="readonly" />
                            <!--Linked Skill Name-->
                        </div>
                        <div class="spec-table-col spec-values">
                            <input type="number" value="{{spec.data.skillRank}}" readonly="readonly" />
                            <!--Linked Skill Rank-->
                        </div>
                        <div class="spec-table-col spec-col-20">
                            <input type="text" value="{{spec.data.statName}}" readonly="readonly" />
                            <!--Linked Stat Name-->
                        </div>
                        <div class="spec-table-col spec-values">
                            <input type="number" value="{{spec.data.statRank}}" readonly="readonly" />
                            <!--Linked Stat Rank-->
                        </div>
                        <div class="spec-table-col spec-values">
                            <span class="spec-table-rank">{{spec.data.total}}</span>
                            <!--Total of all 3 values-->
                        </div>
                        <div class="item-controls flexrow spec-controls">
                            <a class="item-control item-edit" title='{{localize "ITEM.EditItem"}}'><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize "ITEM.DeleteItem"}}'><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <div class="item-controls flexrow add-spec">
                <a class="item-control item-create" data-type="specialization" title='{{localize "ITEM.createItem"}}'><i
                        class="fas fa-plus"></i>
                    {{localize "ITEM.add"}}
                </a>
            </div>
        </div>
    </div>
</div> 