<div class="gifts-page">
    <div class="sheet-title" style="margin-top: 10px;">
        <span>Gifts</span>
    </div>

    <ul class="bio-col items">
        {{#each gifts as |gift key|}}
        {{log gift}}
        {{#ifCond gift.data.type '===' "gift"}}
        <li class="item gift-item" data-item-id={{gift._id}}>
            <div class="bio-row">
                <div class="gift-input">
                    <span>Name</span>
                    <div class="input-readonly">
                        <span>{{{name}}}</span>
                    </div>
                </div>
                <div class="gift-input">
                    <span>Category</span>
                    <div class="input-readonly">
                        <span>{{{gift.data.category}}}</span>
                    </div>
                </div>
                <div class="gift-level-input">
                    <span>Level</span>
                    <div class="input-readonly-num">
                        <span>{{{gift.data.level}}}</span>
                    </div>
                </div>
                <div class="item-controls flexrow gift-controls gift-input">
                    <span>Edit</span>
                    <a class="item-control item-edit" title='{{localize "ITEM.EditItem"}}'><i
                            class="fas fa-edit"></i></a>
                </div>
                <div class="item-controls flexrow gift-controls gift-input">
                    <span>Delete</span>
                    <a class="item-control item-delete" title='{{localize "ITEM.DeleteItem"}}'><i
                            class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="gift-editor">
                <span>Description</span>
                <div class="gift-editor-text">
                    {{{gift.data.notes}}}
                </div>
            </div>
        </li>
        {{/ifCond}}
        {{/each}}

    </ul>
    <div class="sheet-title-h2" style="margin-top: 10px;">
        <span>Add a Gift </span>
        <a class="item-control item-create" data-type="gift" title='{{localize "ITEM.CreateGift"}}'><i
                class="fas fa-plus"></i>
        </a>
    </div>
</div>