<div class="stats-row border-gradient border-gradient-blue">
    <div class="stats">
        <div class="stat-block-title">
            <span>Stats</span>
        </div>
        <div class="stats-sec-row">
            <div class="stat-block str-blue top-left-angle">
                <div class="stat-name">
                    <span>STR</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.strength.value" value="{{data.data.stats.strength.value}}"
                        min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.strength.modified '!==' data.data.stats.strength.value}}
                    <span class="stat-modified">({{{data.data.stats.strength.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
            <div class="stat-block agi-blue">
                <div class="stat-name">
                    <span>AGI</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.agility.value" value="{{data.data.stats.agility.value}}" 
                    min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.agility.modified '!==' data.data.stats.agility.value}}
                    <span class="stat-modified">({{{data.data.stats.agility.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
            <div class="stat-block end-blue">
                <div class="stat-name">
                    <span>END</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.endurance.value"
                        value="{{data.data.stats.endurance.value}}" min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.endurance.modified '!==' data.data.stats.endurance.value}}
                    <span class="stat-modified">({{{data.data.stats.endurance.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stat-block-title">
            <span>Derived Stats</span>
        </div>
        <div class="stats-sec-row">
            <div class="stat-block end-blue top-left-angle">
                <div class="stat-name">
                    <span>PD</span>
                </div>
                <div class="stat-num">
                    <span>{{{attributes.body.pd}}} {{#ifCond attributes.body.modified '!==' 0}}
                        ({{attributes.body.modified}}) {{/ifCond}}</span>
                </div>
            </div>

            <div class="stat-block agi-blue">
                <div class="stat-name">
                    <span>Body</span>
                </div>
                <div class="stat-num">
                    {{{attributes.body.value}}}
                </div>
            </div>

            <div class="stat-block str-blue">
                <div class="stat-name">
                    <span>Body</span>
                    <sub>(current)</sub>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.body.currentValue"
                        value="{{data.data.attributes.body.currentValue}}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stats-row border-gradient border-gradient-purple">
    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block int-purp top-left-angle">
                <div class="stat-name">
                    <span>INT</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.intelligence.value"
                        value="{{data.data.stats.intelligence.value}}" min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.intelligence.modified '!==' data.data.stats.intelligence.value}}
                    <span class="stat-modified">({{{data.data.stats.intelligence.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
            <div class="stat-block per-purp">
                <div class="stat-name">
                    <span>PER</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.perception.value"
                        value="{{data.data.stats.perception.value}}" min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.perception.modified '!==' data.data.stats.perception.value}}
                    <span class="stat-modified">({{{data.data.stats.perception.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
            <div class="stat-block wis-purp">
                <div class="stat-name">
                    <span>WIS</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.wisdom.value" value="{{data.data.stats.wisdom.value}}" min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.wisdom.modified '!==' data.data.stats.wisdom.value}}
                    <span class="stat-modified">({{{data.data.stats.wisdom.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block wis-purp top-left-angle">
                <div class="stat-name">
                    <span>MD</span>
                </div>
                <div class="stat-num">
                    <span>{{{attributes.mind.md}}}</span>
                </div>
            </div>

            <div class="stat-block per-purp">
                <div class="stat-name">
                    <span>Mind</span>
                </div>
                <div class="stat-num">
                    {{{attributes.mind.value}}}
                </div>
            </div>

            <div class="stat-block int-purp">
                <div class="stat-name">
                    <span>Mind</span>
                    <sub>(current)</sub>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.mind.currentValue"
                        value="{{data.data.attributes.mind.currentValue}}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stats-row border-gradient border-gradient-yellow">
    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block spi-yellow top-left-angle">
                <div class="stat-name">
                    <span>SPI</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.spirit.value" value="{{data.data.stats.spirit.value}}" min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.spirit.modified '!==' data.data.stats.spirit.value}}
                    <span class="stat-modified">({{{data.data.stats.spirit.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
            <div class="stat-block cha-yellow">
                <div class="stat-name">
                    <span>CHA</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.charisma.value" value="{{data.data.stats.charisma.value}}" min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.charisma.modified '!==' data.data.stats.charisma.value}}
                    <span class="stat-modified">({{{data.data.stats.charisma.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
            <div class="stat-block wll-yellow">
                <div class="stat-name">
                    <span>WLL</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.will.value" value="{{data.data.stats.will.value}}" min=0 oninput="validity.valid||(value='');" />
                    {{#ifCond data.data.stats.will.modified '!==' data.data.stats.will.value}}
                    <span class="stat-modified">({{{data.data.stats.will.modified}}})</span>
                    {{/ifCond}}
                </div>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block wll-yellow top-left-angle">
                <div class="stat-name">
                    <span>SD</span>
                </div>
                <div class="stat-num">
                    {{{attributes.soul.sd}}}
                </div>
            </div>

            <div class="stat-block cha-yellow">
                <div class="stat-name">
                    <span>Soul</span>
                </div>
                <div class="stat-num">
                    {{{attributes.soul.value}}}
                </div>
            </div>

            <div class="stat-block spi-yellow">
                <div class="stat-name">
                    <span>Soul</span>
                    <sub>(current)</sub>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.soul.currentValue"
                        value="{{data.data.attributes.soul.currentValue}}" />
                </div>
            </div>
        </div>
    </div>
</div>