<div class="stats-row border-gradient border-gradient-blue">
    <div class="stats">
        <div class="stat-block-title">
            <span>Stats</span>
        </div>
        <div class="stats-sec-row">
            <div class="stat-block str-blue top-left-angle">
                <div class="stat-name">
                    <span>STR</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.str.value" value="{{data.data.stats.str.value}}" />
                </div>
            </div>
            <div class="stat-block agi-blue">
                <div class="stat-name">
                    <span>AGI</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.agi.value" value="{{data.data.stats.agi.value}}" />
                </div>
            </div>
            <div class="stat-block end-blue">
                <div class="stat-name">
                    <span>END</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.end.value" value="{{data.data.stats.end.value}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stat-block-title">
            <span>Derived Stats</span>
        </div>
        <div class="stats-sec-row">
            <div class="stat-block end-blue top-left-angle">
                <div class="stat-name">
                    <span>PD</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.body.pd" value="{{attributes.body.pd}}" />
                </div>
            </div>

            <div class="stat-block agi-blue">
                <div class="stat-name">
                    <span>Body</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.body.value" value="{{attributes.body.value}}" />
                </div>
            </div>

            <div class="stat-block str-blue">
                <div class="stat-name">
                    <span>Body</span>
                    <sub>(current)</sub>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.body.modified" value="{{data.data.attributes.body.modified}}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stats-row border-gradient border-gradient-purple">
    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block int-purp top-left-angle">
                <div class="stat-name">
                    <span>INT</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.int.value" value="{{data.data.stats.int.value}}" />
                </div>
            </div>
            <div class="stat-block per-purp">
                <div class="stat-name">
                    <span>PER</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.per.value" value="{{data.data.stats.per.value}}" />
                </div>
            </div>
            <div class="stat-block wis-purp">
                <div class="stat-name">
                    <span>WIS</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.wis.value" value="{{data.data.stats.wis.value}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block wis-purp top-left-angle">
                <div class="stat-name">
                    <span>MD</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.mind.md" value="{{attributes.mind.md}}" />
                </div>
            </div>

            <div class="stat-block per-purp">
                <div class="stat-name">
                    <span>Mind</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.mind.value" value="{{attributes.mind.value}}" />
                </div>
            </div>

            <div class="stat-block int-purp">
                <div class="stat-name">
                    <span>Mind</span>
                    <sub>(current)</sub>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.mind.modified" value="{{data.data.attributes.mind.modified}}" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stats-row border-gradient border-gradient-yellow">
    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block spi-yellow top-left-angle">
                <div class="stat-name">
                    <span>SPI</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.spi.value" value="{{data.data.stats.spi.value}}" />
                </div>
            </div>
            <div class="stat-block cha-yellow">
                <div class="stat-name">
                    <span>CHA</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.cha.value" value="{{data.data.stats.cha.value}}" />
                </div>
            </div>
            <div class="stat-block wll-yellow">
                <div class="stat-name">
                    <span>WLL</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.stats.wll.value" value="{{data.data.stats.wll.value}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stats-sec-row">
            <div class="stat-block wll-yellow top-left-angle">
                <div class="stat-name">
                    <span>SD</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.soul.sd" value="{{attributes.soul.sd}}" />
                </div>
            </div>

            <div class="stat-block cha-yellow">
                <div class="stat-name">
                    <span>Soul</span>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.soul.value" value="{{attributes.soul.value}}" />
                </div>
            </div>

            <div class="stat-block spi-yellow">
                <div class="stat-name">
                    <span>Soul</span>
                    <sub>(current)</sub>
                </div>
                <div class="stat-num">
                    <input type="number" name="data.attributes.soul.modified" value="{{data.data.attributes.soul.modified}}" />
                </div>
            </div>
        </div>
    </div>
</div>