<form class="{{cssClass}} dice-prep" autocomplete="off">
  <div class="dice-dialog">
      <div class="dice-box">
          <div class="stat-block-title">
              <span>${statDiceName}</span>
          </div>
          <div class="stat-section">
              ${statDiv}
          </div>
          <div class="stat-block-title">
              <span>${skillDiceName}</span>
          </div>
          <div class="stat-section">
              ${skillDiv}
          </div>
      </div>
      <div class="options-box">
          <input type="checkbox" />
      </div>
  </div>


</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.dialog');
  length = textContainer.length;
  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].children[0].className.includes("dice-prep")) {
      new_red = textContainer[i].id;
      if (document.getElementById(new_red).className.includes("dice-prep-dialog")) {
        continue;
      }
      else {
        document.getElementById(new_red).className += " dice-prep-dialog";
      }
    } else { console.log("uhhhhhhhhhh") }
  }
</script>