@font-face {
    font-family: 'Lombok';
    src: url('Lombok-Regular.ttf');
    src: local('Lombok-Regular'), local('Lombok-Regular'),
        url('Lombok-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}