<div class="item-section ">
    <div class="sheet-title-h2" style="margin-top: 10px;">
        <span>Derived Stat Modification</span>
    </div>
    <div class="item-mods">
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.body.name}}">Body</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.body.value"
                value="{{data.modifier.stat.body.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.mind.name}}">Mind</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.mind.value"
                value="{{data.modifier.stat.mind.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.soul.name}}">Soul
            </div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.soul.value"
                value="{{data.modifier.stat.soul.value}}" />
        </div>
    </div>
</div>