<div class="item-section ">
    <div class="sheet-title-h2" style="margin: 10px 0 0 0;">
        <span>Physical Defense</span>
    </div>
    <div class="sn-mod">
        <label name="" title='{{localize "DSTAT.PD"}}'>+ / - PD </label>
        <input type="number" name="system.modifier.pd.value" value="{{system.modifier.pd.value}}" />
        <span>vs.</span>
        <select name="system.modifier.pd.detail" value="{{system.modifier.pd.detail}}">
            {{selectOptions dropDowns.physicalDefense selected=system.modifier.pd.detail localize=true}}
        </select>
        <span>Damage</span>
    </div>
</div>