<div class="sheet-title-h2" style="margin-top: 10px;">
    <span>Skill Success Number</span>
</div>
<div class="pd-mod">
    <label name="system.modifier.sn.value">+ / - SN </label>
    <select name="system.modifier.sn.value" value="{{system.modifier.sn.value}}">
        {{#select system.modifier.sn.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="system.modifier.sn.skill" value="{{system.modifier.sn.skill}}">
        {{#select system.modifier.sn.skill}}
        <option value="">None</option>
        <option value="Art">Art</option>
        <option value="Athletics">Athletics</option>
        <option value="Ceremony">Ceremony</option>
        <option value="Charm">Charm</option>
        <option value="Coercion">Coercion</option>
        <option value="Computers">Computers</option>
        <option value="Cooking">Cooking</option>
        <option value="Crafting">Crafting</option>
        <option value="Cybernetics">Cybernetics</option>
        <option value="Deception">Deception</option>
        <option value="Farming">Farming</option>
        <option value="Herbalism">Herbalism</option>
        <option value="Husbandry">Husbandry</option>
        <option value="Investigation">Investigation</option>
        <option value="Knowledge">Knowledge</option>
        <option value="Language">Language</option>
        <option value="Medicine">Medicine</option>
        <option value="melee">Melee Weapons</option>
        <option value="Music">Music</option>
        <option value="Performance">Performance</option>
        <option value="Piloting">Piloting</option>
        <option value="ranged">Ranged Weapons</option>
        <option value="Science">Science</option>
        <option value="Skulduggery">Skuldugger</option>
        <option value="Stealth">Stealth</option>
        <option value="Survival">Survival</option>
        <option value="Tracking">Tracking</option>
        <option value="unarmed">Unarmed Combat</option>
        {{/select}}
    </select>
</div>
{{#ifCond system.modifier.sn.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.sn1.value">+ / - SN </label>
    <select name="system.modifier.sn1.value" value="{{system.modifier.sn1.value}}">
        {{#select system.modifier.sn1.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="system.modifier.sn1.skill" value="{{system.modifier.sn1.skill}}">
        {{#select system.modifier.sn1.skill}}
        <option value="">None</option>
        <option value="Art">Art</option>
        <option value="Athletics">Athletics</option>
        <option value="Ceremony">Ceremony</option>
        <option value="Charm">Charm</option>
        <option value="Coercion">Coercion</option>
        <option value="Computers">Computers</option>
        <option value="Cooking">Cooking</option>
        <option value="Crafting">Crafting</option>
        <option value="Cybernetics">Cybernetics</option>
        <option value="Deception">Deception</option>
        <option value="Farming">Farming</option>
        <option value="Herbalism">Herbalism</option>
        <option value="Husbandry">Husbandry</option>
        <option value="Investigation">Investigation</option>
        <option value="Knowledge">Knowledge</option>
        <option value="Language">Language</option>
        <option value="Medicine">Medicine</option>
        <option value="Melee Weapons">Melee Weapons</option>
        <option value="Music">Music</option>
        <option value="Performance">Performance</option>
        <option value="Piloting">Piloting</option>
        <option value="Ranged Weapons">Ranged Weapons</option>
        <option value="Science">Science</option>
        <option value="Skulduggery">Skuldugger</option>
        <option value="Stealth">Stealth</option>
        <option value="Survival">Survival</option>
        <option value="Tracking">Tracking</option>
        <option value="Unarmed Combat">Unarmed Combat</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.sn1.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.sn2.value">+ / - SN </label>
    <select name="system.modifier.sn2.value" value="{{system.modifier.sn2.value}}">
        {{#select system.modifier.sn2.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="system.modifier.sn2.skill" value="{{system.modifier.sn2.skill}}">
        {{#select system.modifier.sn2.skill}}
        <option value="">None</option>
        <option value="Art">Art</option>
        <option value="Athletics">Athletics</option>
        <option value="Ceremony">Ceremony</option>
        <option value="Charm">Charm</option>
        <option value="Coercion">Coercion</option>
        <option value="Computers">Computers</option>
        <option value="Cooking">Cooking</option>
        <option value="Crafting">Crafting</option>
        <option value="Cybernetics">Cybernetics</option>
        <option value="Deception">Deception</option>
        <option value="Farming">Farming</option>
        <option value="Herbalism">Herbalism</option>
        <option value="Husbandry">Husbandry</option>
        <option value="Investigation">Investigation</option>
        <option value="Knowledge">Knowledge</option>
        <option value="Language">Language</option>
        <option value="Medicine">Medicine</option>
        <option value="Melee Weapons">Melee Weapons</option>
        <option value="Music">Music</option>
        <option value="Performance">Performance</option>
        <option value="Piloting">Piloting</option>
        <option value="Ranged Weapons">Ranged Weapons</option>
        <option value="Science">Science</option>
        <option value="Skulduggery">Skuldugger</option>
        <option value="Stealth">Stealth</option>
        <option value="Survival">Survival</option>
        <option value="Tracking">Tracking</option>
        <option value="Unarmed Combat">Unarmed Combat</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}