<div class="sheet-title-h2" style="margin-top: 10px;">
    <span>Stat Success Number</span>
</div>
<div class="pd-mod">
    <label name="system.modifier.snStat1.value">+ / - SN </label>
    <select name="system.modifier.snStat1.value" value="{{system.modifier.snStat1.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat1.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat1.statName" value="{{system.modifier.snStat1.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat1.statName localize=true}}
    </select>
</div>
{{#ifCond system.modifier.snStat1.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat2.value">+ / - SN </label>
    <select name="system.modifier.snStat2.value" value="{{system.modifier.snStat2.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat2.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat2.statName" value="{{system.modifier.snStat2.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat2.statName localize=true}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.snStat2.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat3.value">+ / - SN </label>
    <select name="system.modifier.snStat3.value" value="{{system.modifier.snStat3.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat3.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat3.statName" value="{{system.modifier.snStat3.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat3.statName localize=true}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.snStat3.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat4.value">+ / - SN </label>
    <select name="system.modifier.snStat4.value" value="{{system.modifier.snStat4.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat4.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat4.statName" value="{{system.modifier.snStat4.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat4.statName localize=true}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.snStat4.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat5.value">+ / - SN </label>
    <select name="system.modifier.snStat5.value" value="{{system.modifier.snStat5.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat5.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat5.statName" value="{{system.modifier.snStat5.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat5.statName localize=true}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.snStat5.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat6.value">+ / - SN </label>
    <select name="system.modifier.snStat6.value" value="{{system.modifier.snStat6.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat6.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat6.statName" value="{{system.modifier.snStat6.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat6.statName localize=true}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.snStat6.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat7.value">+ / - SN </label>
    <select name="system.modifier.snStat7.value" value="{{system.modifier.snStat7.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat7.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat7.statName" value="{{system.modifier.snStat7.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat7.statName localize=true}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.snStat7.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat8.value">+ / - SN </label>
    <select name="system.modifier.snStat8.value" value="{{system.modifier.snStat8.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat8.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat8.statName" value="{{system.modifier.snStat8.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat8.statName localize=true}}
    </select>
</div>
{{/ifCond}}
{{#ifCond system.modifier.snStat8.value '!=' 0}}
<div class="pd-mod">
    <label name="system.modifier.snStat9.value">+ / - SN </label>
    <select name="system.modifier.snStat9.value" value="{{system.modifier.snStat9.value}}">
        {{selectOptions dropDowns.modifierSN selected=system.modifier.snStat9.value localize=false}}
    </select>
    <select class="pd-stat" name="system.modifier.snStat9.statName" value="{{system.modifier.snStat9.statName}}">
        {{selectOptions dropDowns.stats selected=system.modifier.snStat9.statName localize=true}}
    </select>
</div>
{{/ifCond}}