<div class="item-section ">
    <div class="sheet-title-h2" style="margin-top: 10px;">
        <span>Stat Modification</span>
    </div>
    <div class="item-mods">
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.agility.statName}}">AGI</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.agility.value"
                value="{{data.modifier.stat.agility.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.charisma.statName}}">CHA</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.charisma.value"
                value="{{data.modifier.stat.charisma.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.endurance.statName}}">END
            </div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.endurance.value"
                value="{{data.modifier.stat.endurance.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.intelligence.statName}}">INT
            </div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.intelligence.value"
                value="{{data.modifier.stat.intelligence.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.perception.statName}}">PER
            </div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.perception.value"
                value="{{data.modifier.stat.perception.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.spirit.statName}}">SPI</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.spirit.value"
                value="{{data.modifier.stat.spirit.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.strength.statName}}">STR</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.strength.value"
                value="{{data.modifier.stat.strength.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.wisdom.statName}}">WIS</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.wisdom.value"
                value="{{data.modifier.stat.wisdom.value}}" />
        </div>
        <div class="item-stat-mod">
            <div class="item-stat-mod-label" title="{{localize data.modifier.stat.will.statName}}">WLL</div>
            <input class="item-stat-mod-value" type="number" name="data.modifier.stat.will.value"
                value="{{data.modifier.stat.will.value}}" />
        </div>
    </div>
</div>