<div class="sheet-title-h2" style="margin-top: 10px;">
    <span>Stat Success Number</span>
</div>
<div class="pd-mod">
    <label name="data.modifier.snStat1.value">+ / - SN </label>
    <select name="data.modifier.snStat1.value" value="{{data.modifier.snStat1.value}}">
        {{#select data.modifier.snStat1.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat1.statName" value="{{data.modifier.snStat1.statName}}">
        {{#select data.modifier.snStat1.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{#ifCond data.modifier.snStat1.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat2.value">+ / - SN </label>
    <select name="data.modifier.snStat2.value" value="{{data.modifier.snStat2.value}}">
        {{#select data.modifier.snStat2.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat2.statName" value="{{data.modifier.snStat2.statName}}">
        {{#select data.modifier.snStat2.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond data.modifier.snStat2.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat3.value">+ / - SN </label>
    <select name="data.modifier.snStat3.value" value="{{data.modifier.snStat3.value}}">
        {{#select data.modifier.snStat3.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat3.statName" value="{{data.modifier.snStat3.statName}}">
        {{#select data.modifier.snStat3.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond data.modifier.snStat3.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat4.value">+ / - SN </label>
    <select name="data.modifier.snStat4.value" value="{{data.modifier.snStat4.value}}">
        {{#select data.modifier.snStat4.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat4.statName" value="{{data.modifier.snStat4.statName}}">
        {{#select data.modifier.snStat4.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond data.modifier.snStat4.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat5.value">+ / - SN </label>
    <select name="data.modifier.snStat5.value" value="{{data.modifier.snStat5.value}}">
        {{#select data.modifier.snStat5.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat5.statName" value="{{data.modifier.snStat5.statName}}">
        {{#select data.modifier.snStat5.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond data.modifier.snStat5.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat6.value">+ / - SN </label>
    <select name="data.modifier.snStat6.value" value="{{data.modifier.snStat6.value}}">
        {{#select data.modifier.snStat6.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat6.statName" value="{{data.modifier.snStat6.statName}}">
        {{#select data.modifier.snStat6.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond data.modifier.snStat6.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat7.value">+ / - SN </label>
    <select name="data.modifier.snStat7.value" value="{{data.modifier.snStat7.value}}">
        {{#select data.modifier.snStat7.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat7.statName" value="{{data.modifier.snStat7.statName}}">
        {{#select data.modifier.snStat7.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond data.modifier.snStat7.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat8.value">+ / - SN </label>
    <select name="data.modifier.snStat8.value" value="{{data.modifier.snStat8.value}}">
        {{#select data.modifier.snStat8.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat8.statName" value="{{data.modifier.snStat8.statName}}">
        {{#select data.modifier.snStat8.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}
{{#ifCond data.modifier.snStat8.value '!=' 0}}
<div class="pd-mod">
    <label name="data.modifier.snStat9.value">+ / - SN </label>
    <select name="data.modifier.snStat9.value" value="{{data.modifier.snStat9.value}}">
        {{#select data.modifier.snStat9.value}}
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0">0</option>
        <option value="1">+1</option>
        <option value="2">+2</option>
        <option value="3">+3</option>
        <option value="4">+4</option>
        {{/select}}
    </select>
    <select class="pd-stat" name="data.modifier.snStat9.statName" value="{{data.modifier.snStat9.statName}}">
        {{#select data.modifier.snStat9.statName}}
        <option value="">None</option>
        <option value="Agility">Agility</option>
        <option value="Charisma">Charisma</option>
        <option value="Endurance">Endurance</option>
        <option value="Intelligence">Intelligence</option>
        <option value="Perception">Perception</option>
        <option value="Spirit">Spirit</option>
        <option value="Strength">Strength</option>
        <option value="Will">Will</option>
        <option value="Wisdom">Wisdom</option>
        {{/select}}
    </select>
</div>
{{/ifCond}}