/* Global overrides */
body {
    background-image: url(../ui/background-image.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

/*:root {
    --font-primary: "Quiza Pro", sans-serif;
}*/

input[type="checkbox"]:checked {
    -webkit-filter: none;
    filter: none;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.app {
    background-color: whitesmoke;
}

.window-app {
    background-color: rgb(57, 32, 91);
    background: none;
}

.window-app .window-content {
    background: none;
    background-color: whitesmoke;
}

.window-app .window-header {
    background-color: rgb(57, 32, 91);
}

img {
    border: none;
}

input[type="text"] {
    border: none;
    background: rgba(57, 32, 91, 0.1);
    border-bottom: black 2px solid;
}

input[type="number"] {
    border: none;
    background: rgba(57, 32, 91, 0.1);
    border-bottom: black 2px solid;
}

select {
    border: none;
    background: rgba(57, 32, 91, 0.1);
    border-bottom: black 2px solid;
}

.form-group .form-fields select option:first-letter {
    text-transform: capitalize;
}

.sheet nav.sheet-tabs {
    margin: 10px 0;
}

.item nav.item-tabs {
    height: 32px;
    flex: 0 0 32px;
    line-height: 32px;
    border-top: 1px solid rgb(57, 32, 91);
    border-bottom: 1px solid rgb(57, 32, 91);
    margin: 10px 0;
}

.input-readonly {
    background: rgba(57, 32, 91, 0.1);
    border-bottom: black 2px solid;
    height: var(--form-field-height);
    border-radius: 3px;
    padding: 3px;
}

.input-readonly-num {
    background: rgba(57, 32, 91, 0.1);
    border-bottom: black 2px solid;
    height: var(--form-field-height);
    border-radius: 3px;
    padding: 3px;
    width: 40px;
}

.input-readonly>span {
    display: flex;
    text-align: center;
    width: 200px;
}

.faux-input {
    border: none;
    background: rgba(57, 32, 91, 0.1);
    border-bottom: black 2px solid;
    height: 25px;
}

.callout {
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 32, 91);
    color: whitesmoke;
    width: 100%;
    border-radius: 5px;
}

.callout>p {
    padding: 5px;
}

.callout>p>span[style*="text-decoration:underline"] {
    color: goldenrod !important;
}



/* Character Sheet */

.warning {
    color: yellow;
}

.c-sheet .logo-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.c-sheet .logo-row img {
    width: 600px;
}

.c-sheet .header-section {
    display: flex;
    flex-direction: row;
}

.c-sheet .c-left-header-col {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.c-sheet .c-image {
    width: 190px;
    position: relative;
}

.c-sheet .c-image>img.c-image-small {
    display: flex;
    width: 190px;
    flex: 0;
    object-fit: contain;
    max-width: unset;
}

.image-frame {
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: contain;
    top: -10px;
    right: -10px;
}

.c-sheet .c-status-col {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.c-sheet .legendary-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    justify-content: space-between;
    align-items: flex-end;
    font-size: medium;
}

.c-sheet .legendary-row input[type="number"] {
    width: 65px;
    text-align: center;
}

.c-sheet .legendary-row>.faux-input {
    text-align: center;
}

.c-sheet .c-info-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    justify-content: space-between;
}

.c-sheet .info-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 5px;
}

.c-sheet .c-info-name {
    width: 65%;
}

.c-sheet .c-info-age {
    width: 30%;
}

.c-sheet .c-info-archetype {
    width: 30%;
}

.c-sheet .c-info-path {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 34%;
}

.c-sheet .c-info-motivation {
    width: 30%;
}

.c-sheet .c-separator {
    margin: 10px auto;
}

.c-sheet .c-stats-section {
    display: flex;
    flex-direction: column;
}

.c-sheet .stats-sec-row {
    display: flex;
    flex-direction: row;
}

.c-sheet .stats-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.c-sheet .stats-row:not(:last-child) {
    margin-bottom: 10px;
}

.c-sheet .stats {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.c-sheet .stat-block-title {
    width: 100%;
    font-size: x-large;
}

.c-sheet .stat-block {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 60px;
    border: none;
    justify-content: space-between;
    text-align: center;
}

.c-sheet .stat-name {
    line-height: 10px;
    padding-top: 5px;
}

.c-sheet .stat-num {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;

}

.c-sheet .stat-modified {
    height: 25px;

}

.c-sheet .stat-num input[type="number"] {
    border: none;
    background: none;
    text-align: center;
    width: 15px;
}

.str-blue {
    background: #d6e6f2;
}

.agi-blue {
    background: #e0ecf5;
}

.end-blue {
    background: #ebf3f9;
}

.int-purp {
    background: #dddce9;
}

.per-purp {
    background: #e5e5ed;
}

.wis-purp {
    background: #efeef6;
}

.spi-yellow {
    background: #fffbd7;
}

.cha-yellow {
    background: #fffde2;
}

.wll-yellow {
    background: #fffeec;
}

.top-left-angle {
    border-top-left-radius: 10px;
}

.border-gradient {
    border-bottom: solid;
    border-image-slice: 1;
    border-width: 3px;
}

.border-gradient-blue {
    border-image-source: linear-gradient(to right, #438ec7, rgba(0, 0, 0, 0));
}

.border-gradient-purple {
    border-image-source: linear-gradient(to right, #3c2461, rgba(0, 0, 0, 0));
}

.border-gradient-yellow {
    border-image-source: linear-gradient(to right, #f3d597, rgba(0, 0, 0, 0));
}

.c-sheet .skill-table-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    margin: 5px 0;
    width: 100%;
}

.c-sheet .skill-table-col {
    padding: 2px 5px;
    width: 100%;
    text-align: start;
}

.c-sheet .skill-table-col select {
    width: 100px;
}

.c-sheet .col-rank, .col-rank>span {
    width: 40%;
    text-align: center;
}

.c-sheet .col-total {
    width: 35%;
    text-align: center;
}

.c-sheet .skill-tables {
    display: flex;
    flex-direction: row;
}

.c-sheet .skill-table-col-1 {
    width: 50%;
}

.c-sheet .skill-table-col-2 {
    width: 50%;
    border-left: rgba(0, 0, 0, 0.2) 1px solid;
}

.c-sheet .skill-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    align-items: center;
}

.c-sheet .skill-table-row:not(:last-child) {
    margin-bottom: 5px;
}

.c-sheet .skill-table-rank {
    width: 20%;
    text-align: center;
}

ul.items {
    list-style: none;
    padding: 0;
}

.c-sheet .spec-table-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    margin: 5px 0;
    width: 100%;
    justify-content: space-between;
}

.c-sheet .spec-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.c-sheet .spec-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5px 0;
    width: 100%;
}

.c-sheet .spec-items {
    width: 100%;
}

.c-sheet .spec-table-col {
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    text-align: start;
}

.c-sheet .spec-col-20 {
    width: 20%;
}

.c-sheet .spec-values {
    width: 40px;
    justify-content: center;
}

.c-sheet .spec-controls {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c-sheet .add-spec {
    margin-top: 10px;
}

/* Specialization-sheet CSS */

.spec-sheet-tables {
    display: flex;
    flex-direction: row;
}

.spec-sheet .spec-sheet-table-col {
    padding: 2px 5px;
    width: 100%;
    text-align: start;
}

.spec-sheet .spec-table-col {
    padding: 2px 5px;
    width: 100%;
    text-align: start;
}

.spec-sheet .spec-table-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    margin: 5px 0;
    width: 100%;
    justify-content: space-between;
}

.spec-sheet .spec-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.spec-sheet .spec-values {
    width: 40%;
}

/*Ability Sheet*/

.ability-sheet .sheet-title {
    width: 100%;
    font-size: x-large;
}

.ability-sheet {
    min-height: 300px;
}

.ability-sheet .ability-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 10px;
}

.ability-sheet .ability-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ability-sheet .ability-row>label {
    width: 20%;
}

.ability-sheet .ability-input {
    width: 75%;
}

.ability-sheet .tox.tox-tinymce {
    min-height: 100px;
}

.ability-sheet .editor {
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

.ability-sheet .ability-description {
    border-bottom: black 2px solid;
}

/* Character Sheet - Abilities */

.c-sheet .abilities-page {
    display: flex;
    flex-direction: column;
}

.c-sheet .ability-block {
    display: flex;
    flex-direction: column;
}

.c-sheet .ability-section {
    display: flex;
    flex-direction: column;
}

.c-sheet .ability-section-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(57, 32, 91, .1);
    margin: 5px 0;
    padding: 3px 10px;
    justify-content: space-between;
}

.c-sheet .ability-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    align-items: flex-end;
}

.c-sheet .ability-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2px 0px;
    background-color: rgba(57, 32, 91, .1);
    width: 98%;
    padding: 3px 10px;
}

.c-sheet .ability-list-item>div {
    margin: 0 3px;
}

.c-sheet .ability-list-name {
    width: 15%;
}

.c-sheet .ability-action {
    width: 20%;
}

.c-sheet .ability-short-desc {
    width: 48%;
}

.c-sheet .ability-list-item.spec-controls {
    width: 12%;
    align-content: center;
}

/*Item Sheet CSS*/

.item-sheet {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 450px;
    height: 100%;
}

.sheet-title {
    width: 100%;
    font-size: x-large;
}

.sheet-title-h2 {
    font-size: large;
    margin-left: 5px;
}

.item-sheet .item-col-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.item-sheet .item-col-base {
    display: flex;
    flex-direction: column;
    width: 65%;
    min-width: 50%;
}

.item-sheet .item-col-img {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.item-sheet .item-image {
    width: 125px;
}

.item-sheet .item-img img {
    display: flex;
    width: 125px;
    flex: 0;
    object-fit: contain;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    max-width: unset;
}

.item-col-img .item-image-small {
    width: 150px;
}

.item-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

.range-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.range-row input[type="text"] {
    width: 25px;
}

.range-row>span {
    margin-right: 5px;
}

.range-row>input[type="text"] {
    margin-right: 15px;
    text-align: center;
}

.range-row>input[type="text"]:last-child {
    margin-right: 0px;
    text-align: center;
}

.item-sheet img {
    width: 150px;
    height: 150px;
}

.item-col {
    display: flex;
    flex-direction: column;
}

.row-50 {
    width: 49%;
}

.row-60 {
    width: 59%;
}

.row-30 {
    width: 30%;
}

.item-sheet .item-num-input {
    width: 40px;
}

.justify-between {
    justify-content: space-between;
}

.item-label {
    margin-right: 5px;
}

.item-stat-mod {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.item-stat-mod-label {
    align-items: center;
}

.item-stat-mod-value {
    width: 30px;
}

.item-mods {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}

.item-sections {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.item-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5px 0 0 5px;
}

.item-section input[type="number"] {
    width: 30px;
    text-align: center;
}

.item-section .sn-mod {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.item-section .sn-mod>* {
    margin: 0 10px 0 0;
}

.item-row .editor {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    background-color: rgba(57, 32, 91, .1);
    border-radius: 5px;
    width: 100%;
}

.item-row .tox.tox-tinymce {
    min-height: 100px;
}

.pd-stat {
    width: 100px;
}

.pd-mod {
    margin: 5px 0 5px 5px;
}

/*Belongings*/

.c-sheet .belongings-page {
    display: flex;
    flex-direction: column;
}

.c-sheet .belonging-block {
    display: flex;
    flex-direction: column;
}

.c-sheet .belonging-section {
    display: flex;
    flex-direction: column;
}

.c-sheet .equip-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12%;
}

/*Bio & Notes*/

.c-sheet .bio-page {
    display: flex;
    flex-direction: column;
}

.c-sheet .bio-row {
    display: flex;
    flex-direction: row;
}

.c-sheet .bio-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}

.c-sheet .short-goal-input {
    width: 45%;
}

.c-sheet .item-label {
    margin-bottom: 3px;
}

/* GIFTS */

.gifts-page .gift-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gifts-page .gift-input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.gifts-page .gift-level-input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    text-align: center;
}

.gift-input>span, .gift-level-input>span {
    margin-bottom: 5px;
}

.gifts-page .gift-category {
    width: 200px;
}

.gifts-page .gift-level {
    width: 40px;
}

.gifts-page .gift-editor {
    margin-top: 10px;
}

.gift-editor>span {
    margin-bottom: 15px;
}

.gifts-page .editor {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    background-color: rgba(57, 32, 91, .1);
    border-radius: 5px;
}

.gifts-page .gift-editor-text {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    background-color: rgba(57, 32, 91, .1);
    border-radius: 5px;
    padding: 0 5px;
}

.gifts-page .tox.tox-tinymce {
    min-height: 100px;
}

.gifts-page .gift-item {
    margin: 10px 0;
}

/*GIFT SHEET*/

.gifts-sheet {
    width: 450px;
}

.gifts-sheet .gift-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gifts-sheet .gift-input {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.gifts-sheet .gift-category {
    width: 185px;
}

.gifts-sheet .gift-level {
    width: 40px;
}

.gifts-sheet .gift-editor {
    margin-top: 10px;

}

.gifts-sheet .editor {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    background-color: rgba(57, 32, 91, .1);
    border-radius: 5px;
    padding: 0 5px;
}

.gifts-sheet .tox.tox-tinymce, .bio-page .tox.tox-tinymce {
    min-height: 100px;
}

/* BIO & NOTES */

.bio-page .editor {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    background-color: rgba(57, 32, 91, .1);
    border-radius: 5px;
}

/* SUMMARY */

.c-sheet .summary-skill-table-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 20px;
    margin: 3px 0;
    width: 100%;
}

.c-sheet .summary-skill-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 20px;
    align-items: center;
}

.c-sheet .summary-skill-table-row:not(:last-child) {
    margin-bottom: 2px;
}

.c-sheet .state-effect {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.c-sheet .half-col-left {
    width: 49%;
}

.c-sheet .half-col-right {
    width: 49%;
}

.c-sheet .effects {
    display: flex;
    flex-direction: column;
}

.c-sheet .effect {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.c-sheet .effect-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3px;
}


.c-sheet .effect-text-input {
    width: 80%;
}

.coyote-checkbox {
    accent-color: rgba(57, 32, 91, 0.5);
}

.mod-list-expand {
    list-style: none;
}

.toggle {
    display: none;
}

.toggle-active {
    display: block;
}

.gb-mod {
    display: flex;
    flex-direction: row;
}

.gb-mod label {
    align-self: center;
    margin-right: 10px;
}

.gb-mod input[type="number"] {
    width: 40px;
}

.gifts-sheet .item-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.rollable:hover {
    color: purple;
    font-weight: bold;
}

.init-span {
    width: 65px;
    padding: 1px 3px;
}

/* DICE ROLLING DIALOG */



.dice-dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    width: 600px;
    background-color: rgb(157, 151, 172);
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(68, 68, 68);
}

.dice-box {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
    ;
    height: 95%;
    width: 70%;
    border: darkslategray 2px;
    border-radius: 6px;
    background-color: whitesmoke;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

.dice-dialog .stat-block-title {
    width: 100%;
    font-size: large;
}

.dice-dialog .stat-section>img {
    margin: 5px 3px;
}

.dice-dialog .check-info {
    display: flex;
    flex-direction: column;
}

.item-success {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-around;
}

.item-success-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-stat-mods {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.item-mod-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.npc-bg .editor {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    background-color: rgba(57, 32, 91, .1);
    border-radius: 5px;
}

.npc-bg .tox.tox-tinymce {
    min-height: 150px;
}

.sheet .editor-content {
    padding: 0 10px;
}

/* CHAT CARD */

.modify-roll {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: plum;
    font-size: large;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}